/node_modules
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.env.development
/.env.test
/.env.production
/.next
/.next/cache
/.next/static
/.next/server
/.next/server/pages
/.next/server/pages/api
/.next/server/pages/_document.js
/.next/server/pages/_app.js
/.next/server/pages/_error.js
/.next/server/pages/_app